html{
	scroll-behavior: smooth;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

/************** nav **************/
.navbar{
	display: flex;
	align-items: center;
	padding: 0 50px;
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar span{
	color: #ff523b;
	margin-left: 5px;
	padding: 1px 8px;
	font-size: 18px;
}
nav{
	flex:1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

.logo h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	margin: 25px 0;
	color: white;
	cursor: pointer;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	color: #fff;
	padding: 10px 10px;
	position: relative;
}

.active:after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 2px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.active:hover:after{
	display: none;
}

nav ul li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #F86754;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav ul li a:hover:after { 
	width: 100%; 
	left: 0; 
}


/************** container **************/
.container p{
	color: white;
	font-size: 24px;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-bottom: 50px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.col-2{
	flex-basis: 50%;
	min-width: 500px;
	padding-left: 50px;
	padding-right: 50px;
}

.col-2 .this-image{
	margin: auto;
	height: auto;
	max-width: 100%;
	padding: 50px 0;
	transition: transform .7s ease;
}


.col-2 h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	margin: 25px 0;
	color: white;
}

.btn{

	background: #ff523b;
	color: white;
	padding: 8px 30px;
	margin: 5px 0;
	border-radius: 30px;
	font-size:16px;
	text-decoration: none;
	transition: background 0.5s;
	cursor: pointer;
	border: none;
}

.minus-btn{
	background-color: #ff523b;
	color: white;
	font-size: 20px;
	padding: 5px 8px;
	height: 30px;
	border: none;
	cursor: pointer;
	width: 30px;
}

.plus-btn{
	display: inline-block;
	background-color: #f39c12;
	color: white;
	font-size: 20px;
	padding: 5px 8px;
	height: 30px;
	border: none;
	cursor: pointer;
	text-align: left;
	width: 30px;
}

.remove-btn{
	margin-top: 5px;
	border: none;
	color: #ff523b;
	text-decoration: overline;
	background-color: #fff;
	cursor: pointer;
}


.btn:hover{
	background: #563434;
}

.header{
	background-image: url('../images/images1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header .row{
	margin-top: 70px;
}

.products{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 350px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.col-3 h4, .rating, .col-3 p{
	padding-left: 20px;
}

.col-4{
	flex-basis: 25%;
	min-width: 250px;
	margin-bottom: 30px;
	text-align: center;
}

.col-4 p {
	font-size: 16px;
	color: #555;
}

.col-4 img{
	transition: transform .5s ease;
	text-align: center;
}


.col-3 img{
	width: 100%;
	transition: transform .5s ease;
}


/************** products **************/
.small-container{
	max-width: 1080px;
	margin: auto;
	
}

.title{
	text-align: center;
	margin: 0px auto 10px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4{
	color: #555;
	font-weight: normal;
}

.col-3 p {
	font-size: 14px;
}

.rating .fa,
.ratingg .fa{
	color: #ff523b;
}

.fa-shopping-cart{
	font-size: 15px;
}

#paypal-button{
	width: 100px;
}




/************** footer **************/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 40px 0 0;
	margin-top: 30px;
}

.footer .row{
	padding-left: 35px;
	padding-right: 35px;
}

.footer p{
	color: #8a8a8a;
	font-size: 14px;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
	text-align: center;
}

.footer-col-2{
	flex: 1;
}

.footer-col-1 img{
	width: 150px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.footer ul li a {
	text-decoration-line: none;
	color: #8a8a8a;
}

.footer ul li a:hover{ 
	color: #ff523b;
}


.app-logo{
	margin-top: 20px;
}

.app-logo img {
	width: 150px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 10px 65px;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

.cart-icon{
	cursor: pointer;
}


/************** cart css **************/
	
.cart-page{
	margin: 20px auto;
}

table{
	width: 100%;
	border-collapse: collapse;

}

.cart-info{
	display: flex;
	flex-wrap: wrap;

}

th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #ff523b;
	font-weight: normal;
}

td{
	padding: 10px 5px;
}

td input{
	width: 60px;
	height: 30px;
	padding: 2px 5px;
	margin-bottom: 5px;
}

td a {
	color: #ff523b;
	font-size: 12px;
}

td img{
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.total-price{
	display: flex;
	justify-content: flex-end;
}

#paypal-button{
	display: flex;
	float: right;
	padding-right: 220px;
}

.total-price table {
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 400px;
}

td:last-child,
th:last-child{
	text-align: right;
}

/************** modal products **************/

.cart-page{
	background-color: white;
	width: 1100px;
	max-width: 100%;
	border-radius: 7px;
	overflow: auto;
	height: 650px;
}

h2{
	margin-left: 30px;
	padding-bottom: 10px;
	color: #777;
	font-weight: 500;
	font-size: 20px;
}


/************** container **************/
.container p{
	color: white;
	font-size: 24px;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-bottom: 50px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;

}

.col-2{
	flex-basis: 50%;
	min-width: 500px;
	padding-left: 50px;
	padding-right: 50px;
}



.modal-containerr{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal{
	background-color: white;
	width: 480px;
	max-width: 100%;
	border-radius: 7px;
	text-align: center;
	height: 480px;
}

#close {
	color: white;
	float: right;
	font-size: 22px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	color: #ff523b;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 10px;
	padding-bottom: 50px;
	background-color: #3E3B3B;
	height: 50px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.modal-header h2{
	float: left;
	color: white;
	padding-top: 10px;
}

.rating {
	padding-top: 26px;
	padding-bottom: 15px;
}

.rating .fa{
	/*color: #ff523b;*/
	color: #D6D1D1;
	font-size: 40px;
}	

.rating .fa:hover{
	cursor: pointer;
}

textarea:focus{
	outline: none;
}
textarea{
	padding: 10px 20px;
	color: #555;
	margin: 6px 0;
	border-radius: 5px;
	font-size: 14px;
	resize: none;
	overflow: auto;
	width: 100%;
	border: none;
	border: 1px solid #ccc;
	font-family: 'Poppins', sans-serif;
}

.message-area{
	padding: 0 20px;
}	

.message-area p {
	color: #555;
	font-size: 14px;
	margin-bottom: 20px;
}

#feedback-btn{
	margin: 0 20px;
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 8px 30px;
	border-radius: 30px;
	font-size:16px;
	text-decoration: none;
	transition: background 0.5s;
	cursor: pointer;
	border: none;
	width: 90%;
	height: 40px;
	outline: none;
}

#feedback-btn:hover{
	background: #563434;
}






/************** responsive **************/

@media only screen and (max-width: 800px){
	*{
		overflow-x: hidden;
	}

	nav ul {
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a{
		color: #fff;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.title{
		padding-right: 40px;
	}
}

@media only screen and (max-width: 600px){
	*{
		overflow-x: hidden;
	}
	
	.row{
		text-align: center;
	}

	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}

	.col-3{
		margin-left: 20px;
		margin-right: 20px; 
	}

	.col-4 img{
		width: 350px;
	}

	input[type=submit]{
		float: left;
	}

	.title{
		padding-right: 40px;
	}
	
	.modal-body{
		padding: 10px 10px;
		font-size: 14px;
	}
	
	.cart-page{
		height: 100%;
	}
	.modal-body td,
	.modal-body th{
		width: 33%;
	}
	.minus-btn{
		margin-bottom: 5px;
	}
	#paypal-button{
		margin-right: -14px;
	}

	.row{
		text-align: center;
	}

	.modal{
		background-color: white;
		max-width: 100%;
		border-radius: 7px;
		text-align: center;
		margin-right: 30px;
		margin-left: 30px;
	}

	.modal-header h2{
		font-size: 16px;
		margin-left: 10px;
	}

	#close {
		font-size: 20px;
	}

	.rating .fa,
	.ratingg .fa{
		color: #ff523b;
		font-size: 30px;
	}

}




