html{
	scroll-behavior: smooth;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

/*------ nav ------*/
.navbar{
	display: flex;
	align-items: center;
	padding: 0 50px;
}
nav{
	flex:1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

.logo h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	margin: 25px 0;
	color: white;
	cursor: pointer;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	color: #fff;
	padding: 10px 10px;
	position: relative;
}

.active:after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 2px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.active:hover:after{
	display: none;
}

nav ul li a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #F86754;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav ul li a:hover:after { 
	width: 100%; 
	left: 0; 
}


/*------ container ------*/
.container p{
	color: white;
	font-size: 24px;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-bottom: 50px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.col-2{
	flex-basis: 50%;
	min-width: 500px;
	padding-left: 50px;
	padding-right: 50px;
}

.col-2 .this-image{
	margin: auto;
	height: auto;
	max-width: 100%;
	padding: 50px 0;
	transition: transform .7s ease;
}


.col-2 h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	margin: 25px 0;
	color: white;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	font-size:15px;
	text-decoration: none;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}

.header{
	background-image: url('../images/images1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header .row{
	margin-top: 70px;
}

.products{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 350px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.col-3 h4, .rating, .col-3 p{
	padding-left: 20px;
}

.col-4{
	flex-basis: 25%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-4 img{
	transition: transform .5s ease;
	text-align: center;
}

.col-4:hover img{
	transform: translateY(-10px);
}

.col-3 img{
	width: 100%;
	transition: transform .5s ease;
}



/*------ products ------*/
.small-container{
	max-width: 1080px;
	margin: auto;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4{
	color: #555;
	font-weight: normal;
}

.col-3 p {
	font-size: 14px;
}

.rating .fa{
	color: #ff523b;
}

/*------ offer ------*/
.offer{
	margin-top: 80px;
	padding: 30px 0;
	background-image: url('../images/images1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.offer h4{
	color: white;
	font-size: 28px;
	margin-bottom: -20px;
}

.offer p{
	color: white;
	font-size: 18px;
}

.col-2 .offer-img{
	padding: 50px;
	margin: auto;
	max-width: 100%;
	padding: 50px 0;
	transition: transform .5s ease;
}







/*------ testimonial ------*/
.testimonial{
	padding-top: 60px;
	padding-bottom: 60px;
}

.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img{
	width: 70px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.fa.fa-quote-left{
	font-size: 30px;
	color: #ff523b;
}

.col-3 p{
	font-size: 15px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}



/*------ about-us ------*/
.about-us{
	background: #000;
	color: #8a8a8a;
	font-size: 16px;
	padding: 40px 0 0;
}

.about-us .title{
	color: #fff;
	padding-top: 20px;
}




/*------ why-us ------*/
.why-us{
	font-size: 14px;
	padding: 40px 0 80px;
}

.why-us h3{
	margin-top: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #555;
	text-align: center;
}

.why-us .col-3{
	height: 360px;
}

.why-us .col-3 p{
	padding-left: 20px;
	padding-right: 20px;
}



/*------ the-team------*/
.the-team{
	padding: 40px 0 80px;
}

.the-team .col-3{
	text-align: center;
	box-shadow: none;
	color: #555;
}

.the-team .col-3:hover img{
	transform: none;
}

.the-team .col-3 p{
	font-size: 16px;
}

.the-team .col-2 p{
	padding-top: 5px;
}

.the-team .col-2{
	text-align: center;
	box-shadow: none;
	color: #555;
	padding-bottom: 50px;
}

.the-team .col-3 img, .the-team .col-2 img{
	height: 130px;
	width: 130px;
	border-radius: 50%;
}


/*------ contact-us ------*/
.contact-us{
	padding: 30px 0;
	padding-bottom: 50px;
	background-image: url('../images/images2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contact-us .title{
	color: #fff;
	padding-top: 20px;
}

.contact-us h4{
	color: white;
	font-size: 28px;
}

.contact-us p{
	color: white;
	font-size: 20px;
}

.contact-us a{
	color: white;
}

.contact-us a:hover{
	color: #ff523b;
}

.my-form h4{
	font-size: 22px;
}

.my-form{
	padding-top: 20px;
	background-color:rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	height: 400px;
	padding-left: 20px;
	padding-right: 20px;
}

form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc; 
	border-radius: 5px;
}

input[type=text],
input[type=email],
textarea:focus{
	outline: none;
}
textarea{
	padding: 0 10px;
	color: #555;
	margin: 6px 0;
	border-radius: 5px;
	font-size: 14px;
	resize: none;
	overflow: auto;
	width: 100%;
	border: none;
	border: 1px solid #ccc;
	font-family: 'Poppins', sans-serif;
}

input[type=submit]{
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 8px 30px;
	border-radius: 30px;
	font-size:15px;
	text-decoration: none;
	transition: background 0.5s;
	cursor: pointer;
	border: none;
	width: 100%;
	height: 35px;
}

input[type=submit]:hover{
	background: #563434;
}




/*------ footer ------*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 40px 0 0;
}

.footer .row{
	padding-left: 35px;
	padding-right: 35px;
}

.footer p{
	color: #8a8a8a;
	font-size: 14px;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
	text-align: center;
}

.footer-col-2{
	flex: 1;
}

.footer-col-1 img{
	width: 150px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.footer ul li a {
	text-decoration-line: none;
	color: #8a8a8a;
}

.footer ul li a:hover{ 
	color: #ff523b;
}


.app-logo{
	margin-top: 20px;
}

.app-logo img {
	width: 150px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 10px 65px;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}









/*------ account.html ------*/
/*------ form-container ------*/
.form-container{
	background-color:rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	width: 400px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	overflow: hidden;
}

.form-container span{
	padding: 0 10px;
	color: white;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}

.form-container a{
	color: white;
	font-size: 14px;
}

.form-container a:hover{
	color: #ff523b;
}

.form-btn{
	display: inline-block;
}

.form-container form{
	max-width: 400px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}

form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc; 
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
}


form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus{
	outline: none;
}

#LoginForm{
	left: -400px;
}

#RegForm{
	left: 0px;
}

form a{
	font-size: 14px;
}

#Indicator{
	width: 100px;
	border: none;
	background: #ff523b;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}
#password-check{
	color:white;
	font-size: 16px;
}

/*------ Responsive ------*/

@media only screen and (max-width: 800px){
	*{
		overflow-x: hidden;
	}

	nav ul {
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a{
		color: #fff;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px){
	*{
		overflow-x: hidden;
	}
	
	.row{
		text-align: center;
	}

	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}

	.col-3{
		margin-left: 20px;
		margin-right: 20px; 
	}

	.col-4 img{
		width: 350px;
	}

	input[type=submit]{
		float: left;
	}

	.contact-us p, .about-us p{
		width: 80%;
		margin: auto;
	}

	.contact-us .my-form{
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}

	/* account.html */
	.form-container{
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}

	#LoginForm{
		width: 100%;
	}

}




